@import "../../node_modules/bootstrap/scss/bootstrap.scss";
body {
    margin: 0;
    font-family: 'Spinnaker', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #242424;
}

a {
    color: #658d3d;
    text-decoration: none
}
.logo {
  float: left;
  margin: 20px 0 0;
  width: 90px;
}

.btn-portfolio {
    display: none
}

header .row {
    background: none;
    margin: 0
}

.contact-links {
  float: right;
    margin: 20px 0 0 0;
    list-style: none;
}

.contact-links li {
    display: inline-block;
    margin: 0 10px 0 0
}

.contact-links li, .contact-links li a {
    color: #fff
}

.contact-links li.email {
    margin-bottom: 10px
}

.phone {
    font-size: 12px
}
.title {
  padding: 180px 0 60px;
}
#overview {
    float: left;
    padding: 60px 0 60px 60px
}

#overview p {
    font-size: 18px;
    line-height: 1.3
}

#featured {
    float: right;
    width: 40%;
    padding: 60px 60px 60px 0
}

body>.navbar {
    font-size: 13px
}
